*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar-brand{
    color: rgba(238,11,105);
    font-size: 2rem;
      font-family: "Pacifico", cursive;
}
.navbar-brand:hover{
    color: black;
}
.nav-link{
    text-transform: uppercase;
    margin-left: 15px;
    margin-right: 15px;
   color: black;
   font-family: sans-serif;
}
.nav-link:hover{
    color: rgba(238,11,105);
}

.icon{
    font-size: 1.1rem;
    cursor: pointer;
    color: rgba(238,11,105);
    padding: 4px;
}

.main{
    background-image: url(image/heroy.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.main h1{
    font-size: 1.3rem;
    text-transform: uppercase;
}

.main p{
    font-size: 5rem;
    font-weight: 900;
}
.btn2{
    font-size: 1.4rem;
    background-color:rgba(238,11,105);
    width: 40%;
    height: 45px;
    font-weight: bold;
    color: white;
    border: none;
    outline: none;
    transition: all 0.4;
}
.btn2:hover{
    border: 1px solid  rgba(238,11,105);
    background-color: transparent;
    color: rgba(238,11,105);
    transition: all 0.4s;
}


.btn3{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 52px;
    width: 40%;
    border: none;
    outline: none;
    transform: translate(-50%,-50%);
    transition: all 0.4s;
}
.btn3:hover{
    border: 1px solid  rgba(238,11,105);
    color: white;
    background-color: rgba(238,11,105);
    transition: all 0.4s;
}

.zoom-n{
    border: 0;
    outline: none;
    overflow: hidden;
}

.zoom-n img{
    transition:transform .5s ease-in-out;
}



.zoom-n:hover img{
   transform: scale(1.2);
}

.product h1{
    font-size: 2.6rem;
    font-weight: 800;
    padding-bottom: 13px;
}

.discount{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(238,11,105) ;
    color: white;
    position: absolute;
    top: 15%;
    left: 85%;
    padding: 12px 5px;
    transform: translate(-50%,-50%);
    position: absolute;
}

.card{
    position: relative;
}
   .new-pick .circle1{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    color: rgb(8, 8, 8);
    background-color: rgba(238,11,105) ;
    padding: 20px;
    cursor: pointer;
    font-size: 1.6rem;
    opacity: 0;
    transition: all 0.5s;
}
.circle1:hover{
    transition: all 0.4s;
    opacity:1;
}
